<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/commont.css">
</head>
<body>
    <div id="form-lreg">
        <form action="/user/regiter" method="POST">
            账号:<input type="text" placeholder="请输入注册号码" class="txt" name="uname"></br>
            密码:<input type="password" class="pwds" placeholder="请输入密码" name="pwd"></br>
            确认:<input type="password" class="pwdagin" placeholder="确认密码">
            <input type="submit" value="注册" class="sub">
        </form>
    </div>
</body>
</html>